@import "tailwindcss";

body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Electrolize', sans-serif;
}

* {
  scroll-behavior: smooth;
}

.lexend-font {
  font-family: 'Lexend', sans-serif !important;
}

@supports (-webkit-touch-callout: none) {
  .ios-bg-fix {
    background-attachment: scroll !important;
  }
}